apiVersion: v1
kind: Service
metadata:
  name: media-service
  labels:
    app: media-service
spec:
  selector:
    app: media-service
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
  type: ClusterIP
