apiVersion: v1
kind: ConfigMap
metadata:
  name: uniconnect-config
data:
  DATABASE_PATH: "/shared-data/db.sqlite3"
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: uniconnect-db-pv
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteMany
  hostPath:
    path: /data/uniconnect-db
    type: DirectoryOrCreate
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: uniconnect-db-pvc
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi